/* Reset css standard */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Family */
@font-face {
  font-family: Overpass;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf");
}

/* Colors */
:root {
  --Orange-500: hsl(25, 97%, 53%);
  --White: hsl(0, 100%, 100%);
  --Grey-500: hsl(217, 12%, 63%);
  --Grey-400: hsl(214, 24%, 22%);
  --Grey-900: hsl(213, 19%, 18%);
  --Grey-950: hsl(216, 12%, 8%);

  --Font-Family: Overpass;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--Font-Family);
  background-color: var(--Grey-950);
  padding: 20px;
  color: var(--White);
}

/* Icon Star */
.rating-start,
.thank-you-state {
  width: 375px;
  height: auto;
  background: var(--Grey-900);
  border-radius: 2rem;
  padding: 16px;
}
.rating-start__star {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  background: var(--Grey-400);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

/* Title */
.rating-start__title {
  font-size: 1.6rem;
  margin-bottom: 12px;
}

/* Text content */
.rating-start__text {
  color: var(--Grey-500);
  font-size: 15px;
}

/* List item rating */
.rating-start__feedback {
  margin: 24px 0;
}
.rating-start__list-item {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.rating-start__item-selected {
  width: 40px;
  height: 40px;
  background: var(--Grey-400);
  color: var(--Grey-500);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.rating-start__item-selected:hover {
  background: var(--White);
  color: var(--Grey-400);
  font-weight: 700;
}
.selected-item {
  background: var(--Orange-500);
  color: var(--Grey-400);
  font-weight: 700;
}

/* Button submit */
#button-submit {
  width: 90%;
  height: 40px;
  display: block;
  margin: 16px auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0;
  border-radius: 50px;
  background: var(--Orange-500);
  color: var(--Grey-950);
  font-weight: 700;
  cursor: pointer;
}
#button-submit:hover {
  background: var(--White);
}

/* Section thank you state */
.thank-you-state__illustration {
  text-align: center;
}

/* Section display visible none */
.visibled__off {
  display: none;
}
.visibled__on {
  display: block;
}

/* Rating selected */
.thank-you-state__selected {
  width: 55%;
  margin: 16px auto;
  text-align: center;
  background: var(--Grey-400);
  color: var(--Orange-500);
  border-radius: 16px;
  padding: 8px 0;
}

/* Title thak you */
.thank-you-state__title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--White);
  margin: 24px 0;
}

/* Text content thank you state */
.thank-you-state__text {
  width: 90%;
  text-align: center;
  margin: 16px auto;
  font-size: 15px;
  color: var(--Grey-500);
}

/* Footer attribution */
.attribution { 
  margin-top: 16px;
  font-size: 0.8rem; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
